{% extends "slag/index.html" %} {% load static %} {% load humanize %} 
{% block title %} CARRITO | SLAG {% endblock %} {% block content %}
{% comment %} <div class="alert alert-primary" role="alert">
<table class="table table-border">
    <thead>
        <tr>
            <th scope="row" colspan="4" class="text-center">CARRITO</th>
        </tr>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">PRECIO</th>
            <th scope="col">CANTIDAD</th>
        </tr>    
    </thead>
    <tbody>
        {% if request.session.carrito.items %}
        {% for clave, valor in request.session.carrito.items %}
        <tr>
            <td>{{valor.nombre}}</td>
            <td>{{valor.precio}}</td>
            <td>{{valor.acumulado}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center">sin productos</div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">TOTAL:</th>
            <th colspan="2">{{total_carrito}}</th>
        </tr>
    </tbody>
</table>
<hr>
</div>
<div class="row text-center">
    <div class="col-o"><a href="{% url 'limpiar' %}" class="btn btn-danger">limpiar</a></div>
    <div class="col-o"><a href="#" class="btn btn-success">guardar</a></div>
</div>
 {% endcomment %}
 <center><h3>Atrevete a llevar lo que te gusta</h3></center>

{% endblock %}


