{% extends "slag/index.html" %} {% load static %} {% load humanize %} 
{% block title %} CARRITO | SLAG {% endblock %} 
{% block content %} 

<h2>Mi Carrito</h2>

{% if items %}
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Talla</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.producto.Name_Prod }}</td>
            <td>{{ item.talla.talla }}</td>
            <td>${{ item.producto.prev_prod }}</td>
            <td>{{ item.cantidad }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><strong>Total:</strong></td>
            <td><strong>${{ total_general }}</strong></td>
        </tr>
    </tfoot>
</table>
{% else %}
    <p>Tu carrito está vacío.</p>
{% endif %}
{% endblock %} 
