{% extends "slag/index.html" %} {% load static %} {% load humanize %} 
{% block title %} DAMA | SLAG {% endblock %} {% block content %}
<center><h5>WOMENS'S DENIM</h5></center>

<div class="container py-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">

    {% comment %} ciclo para la creacion de las tarjetas de productos {% endcomment %}
    
    {% for Producto in Productos %}
    <div class="col">
      <div class="card product-card">
        <a href="{% url 'Detalle' Producto.id_Prod %}">
          <img src="{{ Producto.Imagen.url }}" alt="{{ Producto.Name_Prod }}"
        /></a>
        <div class="card-body">
          <div class="product-title">{{ Producto.Name_Prod }}</div>
          <div class="product-price">${{ Producto.prev_prod|intcomma }}</div>
        </div>
      </div>
    </div>
    {% endfor %} {% endblock %}
  </div>
</div>
