{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'slag/css/olvido.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <div class="container">
        <div class="login_container">
          <div class="login_title">
            <span>Recupera tu contraseña</span>
          </div>

          <div class="input_wrapper">
            <input type="password" id="user" class="input_field" name="password1"required />
            <label for="user" class="label">Contraseña</label>
          </div>

          <div class="input_wrapper">
            <input type="password" id="user" class="input_field" name="password2" />
            <label for="user" class="label">Confirma tu contraseña</label>
          </div>

          <div class="input_boton">
            <button type="submit" name="accion" class="input-submit" value="recuperar"/>Cambiar Contraseña</button>
          </div>
          {{error3}}
        </div>
      </div>
  </form>
  </body>
</html>
